# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

# all client
[client]
# default-character-set = latin1
default-character-set = utf8
socket = /opt/mysql/mysql.sock

# terminal client
[mysql]
default-character-set = utf8
socket = /opt/mysql/mysql.sock

[mysqld]
port = 3306

symbolic-links = 0
character-set-server = utf8
sql-mode = ONLY_FULL_GROUP_BY,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

basedir = /opt/mysql/base
datadir = /opt/mysql/data
socket = /opt/mysql/mysql.sock
pid-file = /opt/mysql/mysqld.pid

log-error = /opt/mysql/mysqld.log

# General Log Configuration
# general_log = 1
# general_log_file = /opt/mysql/mysql-general.log

[mysqldump]
quick
default-character-set = utf8
socket = /opt/mysql/mysql.sock
